/* styles.css */

/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #ebf2ff;
}

header {
    background-color: #0263cc;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header img {
    max-width: 50%; /* Ensure the image doesn't exceed the header width */
    height: auto; /* Maintain the image's aspect ratio */
}

header h1 {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 3rem;
}

/* New styles for the navigation bar */
.navbar {
    background-color: #ebf2ff;
    text-align: left;
    padding: 10px 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: #0263cc;
    font-weight: normal;
}

.navbar a:hover {
    font-weight: bold;
}


header h2 {
    font-size: 2rem;
    font-weight: bold; /* Added font-weight for headers */
    margin-top: 20px;
}

main {
    max-width: 1000px; /* Increased the maximum width */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

main h3 {
    font-size: 1.8rem;
    font-weight: bold; /* Added font-weight for headers */
    margin-top: 20px;
}

main p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top:5px
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.center-image {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

.chatbox {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 40px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-top-left-radius: 15px; /* Round the top-left corner */
    border-top-right-radius: 15px; /* Round the top-right corner */
    transition: all 0.3s;
}


.chatheader {
    border-top-left-radius: 15px; /* Round the top-left corner */
    border-top-right-radius: 15px; /* Round the top-right corner */
    background-color: #0562CC;
    color: white;
    padding: 10px;
    cursor: pointer; /* Make the header clickable to toggle */
}

.chatlogs {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    transition: height 0.3s; /* Add transition for smooth animation */
}

#user-input {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 70%;
    padding: 5px;
    margin: 5px;
    margin-top: 5px
}

button {
    padding: 5px 10px;
}

.minimize-btn {
    position: absolute;
    right: 10px; /* Adjust the right property as needed */
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


/* Set padding for text messages */
.chat {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.user {
    background-color: #0099FF;
    color: white;
    float: right;
}

.ai {
    background-color: #ffffff;
    float: left;
}


h3,  h5, h6 {
    color: #0562CC;
}